.finger-print-page-container {
  padding: 30px;
  &-height {
    height: 100%;
  }
  .welcome-page {
    width: 100%;
    &-text {
      color: var(--ion-color-text);
      margin: 4px 0 0;
      font-weight: bolder;
    }
    .finger-print-title-description {
      font-weight: lighter;
      color: var(--ion-color-medium);
    }
  }

  .finger-print-img {
    height: 210px;
  }
  .enable-finger-print-button {
    width: 100%;
    --background: var(--ion-color-text);
    height: 50px;
    text-transform: none;
  }
  .skip-button {
    width: 100%;
    height: 50px;
    text-transform: none;
    margin-bottom: -15px;
    --background: unset;
    color: var(--ion-color-medium);
    &::part(native) {
      box-shadow: unset !important;
    }
  }
  ::ng-deep .invoice-reject {
    &::part(container) {
      background-color: var(--ion-color-danger);
    }
  }
  ::ng-deep .invoice-approve {
    &::part(container) {
      background-color: var(--ion-color-success);
    }
  }
}
